<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.mapper.UmsUserPermissionExtMapper">
    <update id="deleteUmsUserPermissionExtById" parameterType="java.lang.Long">
        UPDATE ums_user_permission_ext SET delete_flag = NULL WHERE id = #{value}
    </update>
</mapper>
